*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F7F7F7;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.sidebar {
  width: 300px;
  min-width: 280px;
  background-color: #f8f8f8;
  overflow-y: auto;
  flex-shrink: 0;
  border-right: 1px solid #ccc;
}

.mainContent {
  flex: 1;
  background-color: #DAE5F5;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }
}
