.container {
  width: 100%;
  height: 100%;
}

/* Sidebar styles */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #f9f9f9;
  overflow-y: auto;
  padding-bottom: 50px;
}

.heading {
  font-size: 1.8rem;
  font-weight: 600;
  padding: 20px 0;
  text-align: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  z-index: 10;
}

.sidebarContent {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.groupNames ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.groupName {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 16px;
  padding: 0.9rem 1.2rem;
  gap: 1rem;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: background-color 0.2s ease;
}

.groupName:hover {
  background-color: #f1f1f1;
}

.groupName h3 {
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
}

.circleName {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.groupBtn {
  position: fixed;
  bottom: 10px;
  right: 16px;
  width: 55px;
  height: 55px;
  font-size: 2.3rem;
  border: none;
  border-radius: 50%;
  background-color: #16008b;
  color: white;
  cursor: pointer;
}

/* Desktop */
@media (min-width: 769px) {

  .container {
     width: 300px;
     height: 100%;
  }
  
  .sidebar {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    flex-shrink: 0;
  }

  .groupBtn {
    width: 50px;
    height: 50px;
    font-size: 2.2rem;
    bottom: 10px;
    right: 16px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    height: 100%;
  }

  .heading {
    font-size: 1.6rem;
    padding: 1rem;
  }

  .circleName {
    width: 34px;
    height: 34px;
    font-size: 0.9rem;
  }

  .groupName h3 {
    font-size: 0.9rem;
  }

  .groupBtn {
    width: 50px;
    height: 50px;
    font-size: 2.2rem;
    bottom: 10px;
    left: 16px;
  }
}
